<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
  </head>
  <body>
    <form onsubmit="submutFunction(event.preventDefault())" method="post">
      <input type="text" name="Name" id="NameText" placeholder="Enter Name" />
      <input type="date" name="date" id="DateInput" />
      <input
        type="text"
        id="autocomplete_search"
        placeholder="Type Country Name Here"
      />
      <span id="search_result"></span>

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
