html, body{
    height: 100%;
}
#maincontainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#listContainer{
    width: 50vw;
}
input{
    padding: 0.5vw;
}

li:hover, input:hover{
    cursor: pointer;
}
.SubContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button:hover{
    cursor: pointer;
}